[submodule "BearCore"]
	path = BearCore
	url = https://github.com/TheBearProject/BearCore
[submodule "BearGraphics"]
	path = BearGraphics
	url = https://github.com/TheBearProject/BearGraphics
[submodule "BearRender/BearDirectx"]
	path = BearRender/BearDirectx
	url = https://github.com/TheBearProject/BearDirectx
[submodule "BearRender/BearVulkan"]
	path = BearRender/BearVulkan
	url = https://github.com/TheBearProject/BearVulkan
[submodule "BearUI"]
	path = BearUI
	url = https://github.com/TheBearProject/BearUI
