output

# Visual C++ cache files

ipch/
.vs/
.vscode/
x64/
obj/
bin/

output/
*.aps

*.ncb

*.opensdf

*.sdf
*.vspx

*.cachefile

*.db

*.ipch

*.pch

*.obj
*.VC.db
*.suo
*.user
*.opendb
*.pvs-studio.i